				<!-- Additional Elements -->
                <section class="wrapper style1 align-center" id="earlyregrets">
                    <div class="inner">
                       <div class="index align-left">


                            <!-- Form -->
                                <section>
                                    <header>
                                        <div style="width:90%">
                                        <h2>Early Regrets</h2>
                                         <p>Official RSVPs for our wedding weekend will be shared in early 2026 as details for our celebration are finalized. We look forward to letting you see what we’re working on!</p>

<p>In the meantime, if you know that your plans will not allow you to join us in Boulder next June, you can let us know you’re unable to come ahead of time by sharing your email address and an optional short note with us here:</p>
</div>
                                    </header>
                                    <div class="content">

                                        <form name="earlyregrets" netlify>
                                            <div class="fields">
                                                <div class="field half">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="name" id="name" value="" />
                                                </div>
                                                <div class="field half">
                                                    <label for="email">Email</label>
                                                    <input type="email" name="email" id="email" value="" />
                                                </div>
                                    <p class="hidden">
    <label>
      Don’t fill this out if you’re human: <input name="bot-field" type="text" />
    </label>
  </p>
                                                <div class="field">
                                                    <label for="message">Message</label>
                                                    <textarea name="message" id="message" rows="6"></textarea>
                                                </div>
                                            </div>
                                            <div data-netlify-recaptcha="true"></div>
                                            <ul class="actions">
                                                <li><input type="submit" name="submit" id="submit" value="Send Message" /></li>
                                            </ul>
                                        </form>

                                    </div>
                                </section>

                            

                        </div>


                    </div>
                </section>
