				<!-- Additional Elements -->
                <section class="wrapper style1 align-center" id="faqs">
                    <div class="inner">
                       <div class="index align-left">


                            <!-- Form -->
                                <section>
                                    <header>
                                        <div style="width:80%">
                                        <h2>Frequently Asked Questions</h2>
</div>
                                    </header>
                                    <div class="content">

                                        <ul class="alt">
  										<li><h3>What should we wear?</h3><p>Cocktail attire is preferred. Boulder is warm but dry in the summer, and the ceremony venue will be shaded.</p></li>
  										<li><h3>Are kids welcome?</h3><p>We have decided to host a wedding gathering for guests aged 18 and older. With love and respect, we ask that our guests with children make alternate arrangements.</p></li>
  										<li><h3>Is there transportation from the airport?</h3><p>Denver International Airport (DEN) is about an hour from Boulder. If you rent a car, the St. Julien has paid self and valet parking. Rideshares are $100+ each way, or there is a <a href = "https://app.rtd-denver.com/nextride/route/AB1" target="_blank">bus from the airport to Downtown Boulder Station</a>, which is a short walk from the hotel.</p></li>
  										<li><h3>How do we get around the area?</h3><p>Boulder is a compact city and very walkable. There is also an excellent <a href="https://experience.arcgis.com/experience/dad61e286e6f4cd084b62e9e15c8d51c" target="_blank">bus system</a>, and, of course, ample parking day or night.</p></li>
  										<li><h3>What else is cool in Colorado?</h3><p>If this is your first time in Colorado, you're in for a treat! <a href="https://www.nps.gov/romo/index.htm" target="_blank">Rocky Mountain National Park</a> is a beautiful day trip from Boulder, and is in fact where we got engaged. Locally, there are dozens of hiking and climbing spots in and around Boulder, and Denver has a bustling downtown with museums, gardens, and stadiums. The University of Colorado at Boulder, Albert's alma mater, is known for its beautiful campus and architecture.</p></li>
  										</ul>

                                    </div>
                                </section>

                            

                        </div>


                    </div>
                </section>
