				<script>
				<!--
				function showHideElement(selectElement, toggleElement, showValue, showState) {
    				const guest2Section = document.getElementById(toggleElement);
    				const selectedValue = selectElement.value;

console.log(selectedValue)

    				if (selectedValue === showValue) {
        				// Show the section
        				guest2Section.style.display = showState; 
    				} else {
       					// Hide the section for 'no' or the default empty option
        				guest2Section.style.display = 'none';
    				}
				}
				
				-->
				</script>
				
		<form name="rsvp" id="rsvp" data-netlify-recaptcha="true" class="field half" netlify>		
				
				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        
                        <div class="index align-left">


                            <!-- Form -->
                            	<section>
                                    <header>
                                    <div style="width:90%">
                                        <h3>First, how many guests are you RSVPing for?</h3>
                                        <p>(Including yourself)</p>
                                        </div>
                                    </header>
                                    <div class="content">
                                    <div class="field">
                                                    
                                                    <select name="numguests" id="numguests" onchange="showHideElement(this, 'guest2', '2', 'flex')">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                    </select>
                                                </div>
                                    </div>
                                </section>
                                <section id="guest1" style="display: flex">
                                    <header>
                                        <h3>Guest 1</h3>
                                    </header>
                                    <div class="content">
                                        
                                            <div class="fields">
                                                <div class="field half">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="guest1name" id="name" value="" />
                                                </div>
                                                <div class="field half">
                                                    <label for="email">Email</label>
                                                    <input type="email" name="guest1email" id="email" value="" />
                                                </div>
                                                <div class="field">
                                                    <label for="attending">Will you be joining us for our celebration?</label>
                                                </div>
                                                <div class="field half">
                                                    <input type="radio" id="guest1attending-yes" name="guest1attending" checked onchange="showHideElement(this, 'guest1meal', 'on', 'block'); showHideElement(this, 'guest1dietary', 'on', 'block'); showHideElement(this, 'guest1frisun', 'on', 'block'); showHideElement(this, 'guest1fri', 'on', 'block'); showHideElement(this, 'guest1sun', 'on', 'block')" checked />
                                                    <label for="guest1attending-yes">Yes! I'll be there.</label>
                                                </div>
                                                <div class="field half">
                                                    <input type="radio" id="guest1attending-no" name="guest1attending" onchange="showHideElement(this, 'guest1meal', '', 'block'); showHideElement(this, 'guest1dietary', '', 'block'); showHideElement(this, 'guest1frisun', '', 'block'); showHideElement(this, 'guest1fri', '', 'block'); showHideElement(this, 'guest1sun', '', 'block')"/>
                                                    <label for="guest1attending-no">Sorry, I can't make it.</label>
                                                </div>
                                                
                                                

                                               <div id="guest1meal" class="field">
                                                    <label for="guest1meal">&nbsp;<br />Meal selection</label>
                                                    <select name="guest1meal" id="guest1meal">
                                                    	<option value="" disabled selected> ––– Select a meal –––</option>
                                                        <option value="beef">Filet Mignon (warm red center) with Sauce Bordelaise, Roasted Purple Potatoes & Broccolini</option>
                                                        <option value="fish">Seared Chilean Sea Bass with Charred Lemon Sauce, Seared Polenta Cake & Marinated Cherry Tomatoes</option>
                                                        <option value="pork">Roasted Garlic & Rosemary Pork Tenderloin with Natural Jus, Roasted Purple Potatoes & Broccolini</option>
                                                        <option value="vegetarian">Vegetarian Option (Chef's creation)</option>
                                                        <option value="vegan">Vegan Option (Chef's creation)</option>
                                                    </select>
                                                </div>
                                  				<div id="guest1dietary" class="field">
                                                    <label for="guest1dietary">Dietary restrictions</label>
                                                    <textarea name="guest1dietary" id="guest1dietary" rows="2"></textarea>
                                                </div>
                                               
                                               <div id="guest1frisun" class="field half">
                                                    <label>Can we expect you Friday evening as well?</label>
                                                </div>
                                            <div id="guest1fri" class="field half">
                                                    <input type="checkbox" id="guest1fricheck" name="guest1fricheck" checked />
                                                    <label for="guest1fricheck">Yes</label>
                                                </div>
                                               
                                                
                                                
                                            </div>
                                            
                                    </div>
                                </section>
                                
                                <section id="guest2" style="display: none">
                                    <header>
                                        <h3>Guest 2</h3>
                                    </header>
                                    <div class="content">
                                        
                                            <div class="fields">
                                                <div class="field half">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="guest2name" id="name" value="" />
                                                </div>
                                                <div class="field half">
                                                    <label for="email">Email</label>
                                                    <input type="email" name="guest2email" id="email" value="" />
                                                </div>
                                                <div class="field">
                                                    <label for="attending">Will you be joining us for our celebration?</label>
                                                </div>
                                                <div class="field half">
                                                    <input type="radio" id="guest2attending-yes" name="guest2attending" onchange="showHideElement(this, 'guest2meal', 'on', 'block'); showHideElement(this, 'guest2dietary', 'on', 'block'); showHideElement(this, 'guest2frisun', 'on', 'block'); showHideElement(this, 'guest2fri', 'on', 'block'); showHideElement(this, 'guest2sun', 'on', 'block')" checked />
                                                    <label for="guest2attending-yes">Yes! I'll be there.</label>
                                                </div>
                                                <div class="field half">
                                                    <input type="radio" id="guest2attending-no" name="guest2attending" onchange="showHideElement(this, 'guest2meal', '', 'block'); showHideElement(this, 'guest2dietary', '', 'block'); showHideElement(this, 'guest2frisun', '', 'block'); showHideElement(this, 'guest2fri', '', 'block'); showHideElement(this, 'guest2sun', '', 'block')" />
                                                    <label for="guest2attending-no">Sorry, I can't make it.</label>
                                                </div>
                                                
                                                

                                               <div id="guest2meal" class="field">
                                                    <label for="guest2meal">&nbsp;<br />Meal selection</label>
                                                    <select name="guest2meal" id="guest2meal">
                                                    	<option value="" disabled selected> ––– Select a meal –––</option>
                                                        <option value="beef">Filet Mignon (warm red center) with Sauce Bordelaise, Roasted Purple Potatoes & Broccolini</option>
                                                        <option value="fish">Seared Chilean Sea Bass with Charred Lemon Sauce, Seared Polenta Cake & Marinated Cherry Tomatoes</option>
                                                        <option value="pork">Roasted Garlic & Rosemary Pork Tenderloin with Natural Jus, Roasted Purple Potatoes & Broccolini</option>
                                                        <option value="vegetarian">Vegetarian Option (Chef's creation)</option>
                                                        <option value="vegan">Vegan Option (Chef's creation)</option>
                                                    </select>
                                                </div>
                                  				<div id="guest2dietary" class="field">
                                                    <label for="guest2dietary">Dietary restrictions</label>
                                                    <textarea name="guest2dietary" id="guest2dietary" rows="2"></textarea>
                                                </div>
                                               
                                               <div id="guest2frisun" class="field half">
                                                    <label>Can we expect you Friday evening as well?</label>
                                                </div>
                                            <div id="guest2fri" class="field half">
                                                    <input type="checkbox" id="guest2fricheck" name="guest2fricheck" checked />
                                                    <label for="guest2fricheck">Yes</label>
                                                </div>
                                               
                                                
                                                
                                            </div>
                                            
                                    </div>
                                </section>
                                
                                <section style="display: flex">
                                    <header>
                                        <h3>&nbsp;</h3>
                                    </header>
                                    <div class="content">
                                
                                			<div class="field">
                                                    <label for="message">Would you like to leave us a note?</label>
                                                    <textarea name="message" id="message" rows="4"></textarea>
                                                    <br />
                                                </div>
                                                <div class="fields">
                                <div class="field half" data-netlify-recaptcha="true"></div>
                                            
                                            <ul class="actions field half" style="justify-content: flex-end;">
                                                <li><input type="submit" name="submit" id="submit" value="Send RSVP" /></li>
                                            </ul>
                                        
									</div>
                                    </div>
                                </section>

                            

                        </div>


                    </div>
                </section>
</form>