
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        

        <h2>Wedding Party</h2>
        <p>We're honored to be joined at the altar with our family, some by blood and all by choice.</p>

                        
                        <div class="index align-left">
								
                                
                                <section>
                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <img class="avatar" src="/images/mikey.jpg" alt="Mikey">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Mike</h3>
                                    <p>Mike has been by Albert's side through the tumult and trials of life – filling in Blank Spaces and Shaking it Off – all while sharing tales of love, loss, and gravitational waves over way-too-late bottles of wine and an in-apartment whiteboard.</p></div>
                                    </div>
                                    <div class="field half party">
                                    <img class="avatar" src="/images/david.jpg" alt="David">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>David</h3>
                                    <p>lorem ipsum</p></div>
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Anna</h3>
                                    <p>Anna and Albert have stayed close ever since they met at summer camp in the nineties. Bonding as Taiwanese-Americans and Californian-East Coasters, they've always been there for each other, especially when they're a bit out of place.</p></div>
                                    <img class="avatar" src="/images/anna.jpg" alt="Anna">
                                    
                                    </div>
                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Ralph</h3>
                                    <p>lorem ipsum</p></div>
                                    <img class="avatar" src="/images/default.jpg" alt="Ralph">
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <img class="avatar" src="/images/default.jpg" alt="Morgan">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Morgan</h3>
                                    <p>Morgan's presence in Albert's life has seemed eternal, from the early days of the DC LGBT climbing group to the Gay Men's Chorus of Washington to the fated costume party where he introduced Brett and Albert.</p></div>
                                    </div>
                                    <div class="field half party">
                                    <img class="avatar" src="/images/tristan.jpg" alt="Tristan">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Tristan</h3>
                                    <p>lorem ipsum</p></div>
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Eileen</h3>
                                    <p>Eileen and Albert have shared every one of their lives' milestones. They're constantly comparing notes on everything, sharing their lived experiences as only siblings can.</p></div>
                                    <img class="avatar" src="/images/eileen.jpg" alt="Eileen">
                                    
                                    </div>
                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Kate</h3>
                                    <p>lorem ipsum</p></div>
                                    <img class="avatar" src="/images/default.jpg" alt="Kate">
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields" style="justify-content: center">
                                                    <div class="field half party">
                                                    <img class="avatar" src="/images/sabrena.jpg" alt="Sabrena">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Sabrena</h3>
                                    <p>Officiating the ceremony will be Sabrena, Albert's college classmate and Brett's cardio co-conspirator. She is also an Aunt to their cat Phoebe, spoiling her with toys and treats every chance she gets.</p></div>
                                    </div>
                                    </div>
                                    </div>
                                </section>

                        </div>


                    </div>
                </section>
