
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        

        <h2>Wedding Party</h2>
        <p>We're honored to be joined at the altar with our family, some by blood and all by choice. lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et release the files quid nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>

                        
                        <div class="index align-left">
								
                                
                                <section>
                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <img class="avatar" src="/images/mikey.jpg" alt="Mikey">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Mike</h3>
                                    <p>lorem ipsum</p></div>
                                    </div>
                                    <div class="field half party">
                                    <img class="avatar" src="/images/default.jpg" alt="David">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>David</h3>
                                    <p>lorem ipsum</p></div>
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Anna</h3>
                                    <p>lorem ipsum</p></div>
                                    <img class="avatar" src="/images/anna.jpg" alt="Anna">
                                    
                                    </div>
                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Ralph</h3>
                                    <p>lorem ipsum</p></div>
                                    <img class="avatar" src="/images/default.jpg" alt="Ralph">
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <img class="avatar" src="/images/default.jpg" alt="Morgan">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Morgan</h3>
                                    <p>lorem ipsum</p></div>
                                    </div>
                                    <div class="field half party">
                                    <img class="avatar" src="/images/default.jpg" alt="Tristan">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Tristan</h3>
                                    <p>lorem ipsum</p></div>
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields">
                                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Eileen</h3>
                                    <p>lorem ipsum</p></div>
                                    <img class="avatar" src="/images/eileen.jpg" alt="Eileen">
                                    
                                    </div>
                                    <div class="field half party">
                                                    <div style="flex-grow: 1;  text-align: right; padding-right: 2em"><h3>Kate</h3>
                                    <p>lorem ipsum</p></div>
                                    <img class="avatar" src="/images/default.jpg" alt="Kate">
                                    </div>
                                    </div>

                                    <div class="content">
                                    <div class="fields" style="justify-content: center">
                                                    <div class="field half party">
                                                    <img class="avatar" src="/images/default.jpg" alt="Sabrena">
                                    <div style="flex-grow: 1; text-align: left; padding-left: 2em"><h3>Sabrena</h3>
                                    <p>lorem ipsum</p></div>
                                    </div>
                                    </div>
                                    </div>
                                </section>

                        </div>


                    </div>
                </section>
